<a href="/home">Home</a>
<span>/</span>
<a href="/account/subscriptions">Manage subscriptions</a>
<span>/</span>
<a href="/account/subscriptions/invoice?invoiceid=${invoice.id}">${invoice.id}</a>
<a href="/account/subscriptions/pay-invoice?invoiceid=${invoice.id}">Pay invoice</a>