<a href="/home">Home</a>
<span>/</span>
<a href="/account/subscriptions">Manage subscriptions</a>
<span>/</span>
<a href="/account/subscriptions/billing-profiles">Billing profiles</a>
<span>/</span>
<a href="/account/subscriptions/billing-profile?customerid=${customer.id}">${customer.id}</a>
<a href="/account/subscriptions/billing-profile-subscriptions?customerid=${customer.id}">Subscriptions</a>
<a href="/account/subscriptions/billing-profile-invoices?customerid=${customer.id}">Invoices</a>