<a href="/home">Home</a>
<span>/</span>
<a href="/account/subscriptions">Manage subscriptions</a>
<span>/</span>
<a href="/account/subscriptions/plan?planid=${plan.id}">${plan.id}</a>
<a href="/account/subscriptions/tart-subscription?planid=${plan.id}">Start subscription</a>