<a href="/home">Home</a>
<span>/</span>
<a href="/account/subscriptions">Manage subscriptions</a>
<span>/</span>
<a href="/account/subscriptions/subscription?subscriptionid=${subscription.id}">${subscription.id}</a>
<a href="/account/subscriptions/invoices?subscriptionid=${subscription.id}">Invoices</a>
<a id="navbar-change-plan-link" href="/account/subscriptions/change-plan?subscriptionid=${subscription.id}">Change plan</a>
<a id="navbar-confirm-change-plan-link" href="/account/subscriptions/confirm-change-plan?subscriptionid=${subscription.id}">Change plan</a>
<a id="navbar-confirm-plan-change-card-link" href="/account/subscriptions/confirm-change-plan?subscriptionid=${subscription.id}">Change plan</a>
<a ID="navbar-cancel-subscription-link" href="/account/subscriptions/cancel-subscription?subscriptionid=${subscription.id}">Cancel subscription</a>