<a href="/home">Home</a>
<span>/</span>
<a href="/account/subscriptions">Manage subscriptions</a>
<span>/</span>
<a href="/account/subscriptions/subscriptions">Subscriptions</a>
<a href="/account/subscriptions/invoices">Invoices</a>
<a href="/account/subscriptions/billing-profiles">Billing profiles</a>