<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Administrator</a>
<span>/</span>
<a href="/administrator/subscriptions">Stripe Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/coupons">Coupons</a>
<span>/</span>
<a href="/administrator/subscriptions/coupon?couponid=${coupon.id}">${coupon.id}</a>
<a href="/administrator/subscriptions/edit-coupon?couponid=${coupon.id}">Edit</a>
<a href="/administrator/subscriptions/set-coupon-published?couponid=${coupon.id}">Publish</a>
<a href="/administrator/subscriptions/set-coupon-unpublished?couponid=${coupon.id}">Unpublish</a>
<a href="/administrator/subscriptions/delete-coupon?couponid=${coupon.id}">Delete</a>