<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Administrator</a>
<span>/</span>
<a href="/administrator/subscriptions">Stripe Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/invoices">invoices</a>
<span>/</span>
<a href="/administrator/subscriptions/invoice?invoiceid=${invoice.id}">${invoice.id}</a>
<a href="/administrator/subscriptions/forvgive-invoice?invoiceid=${invoice.id}">Forgive invoice</a>