<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Administrator</a>
<span>/</span>
<a href="/administrator/subscriptions">Stripe Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/refunds">Refunds</a>
<span>/</span>
<a href="/administrator/subscriptions/refund?refundid=${refund.id}">${refund.id}</a>
