<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Administrator</a>
<span>/</span>
<a href="/administrator/subscriptions">Stripe Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/products">Products</a>
<span>/</span>
<a id="navbar-edit-link" href="/administrator/subscriptions/edit-product?productid=${product.id}">Edit</a>
<a id="navbar-publish-link" href="/administrator/subscriptions/publish-product?productid=${product.id}">Publish</a>
<a id="navbar-unpublish-link" href="/administrator/subscriptions/unpublish-product?productid=${product.id}">Unpublish</a>
<a id="navbar-delete-link" href="/administrator/subscriptions/delete-product?productid=${product.id}">Delete</a>