<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Administrator</a>
<span>/</span>
<a href="/administrator/subscriptions">Stripe Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/customers">Customers</a>
<a href="/administrator/subscriptions/subscriptions">Subscriptions</a>
<a href="/administrator/subscriptions/invoices">Invoices</a>
<a href="/administrator/subscriptions/charges">Charges</a>
<a href="/administrator/subscriptions/refunds">Refunds</a>
<a href="/administrator/subscriptions/products">Products</a>
<a href="/administrator/subscriptions/plans">Plans</a>
<a href="/administrator/subscriptions/coupons">Coupons</a>