<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Administrator</a>
<span>/</span>
<a href="/administrator/subscriptions">Stripe Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/plans">Plans</a>
<span>/</span>
<a id="navbar-edit-link" href="/administrator/subscriptions/edit-plan?planid=${plan.id}">Edit</a>
<a id="navbar-publish-link" href="/administrator/subscriptions/publish-plan?planid=${plan.id}">Publish</a>
<a id="navbar-unpublish-link" href="/administrator/subscriptions/unpublish-plan?planid=${plan.id}">Unpublish</a>
<a id="navbar-delete-link" href="/administrator/subscriptions/delete-plan?planid=${plan.id}">Delete</a>