<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Administrator</a>
<span>/</span>
<a href="/administrator/subscriptions">Stripe Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/charges">Charges</a>
<span>/</span>
<a href="/administrator/subscriptions/charge?chargeid=${charge.id}">${charge.id}</a>
<a href="/administrator/subscriptions/flag-charge?chargeid=${charge.id}">Flag fraud</a>
