<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Administrator</a>
<span>/</span>
<a href="/administrator/subscriptions">Stripe Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/subscriptions">Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/subscription?subscriptionid=${subscription.id}">${subscription.id}</a>
