<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Administrator</a>
<span>/</span>
<a href="/administrator/subscriptions">Stripe Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/products">Products</a>
<a href="/administrator/subscriptions/create-product">Create product</a>
