<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Administrator</a>
<span>/</span>
<a href="/administrator/subscriptions">Stripe Subscriptions</a>
<span>/</span>
<a href="/administrator/subscriptions/customers">Customers</a>
<span>/</span>
<a href="/administrator/subscriptions/customer?customerid=${customer.id}">${customer.id}</a>
